@model IEnumerable<EventeterAppAlpha.Models.GetCountUsers_Result>
@{
    ViewBag.Title = "CountUser";
}
<button type="button" class="btn btn-primary" value="Home" onclick="location.href='@Url.Action("Index", "Home")'">
    Home
</button>
<h2>CountUser</h2>

<div class="panel panel-default">
    <div class="panel-heading"> Current total number of registered users, come join the fun!</div>
    <div class="panel-body">
        <table>
            <tr>
                <th>
                   @Html.DisplayNameFor(model => model.First().NumberOfUsers)

                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                       
                       @Html.DisplayFor(model => item.NumberOfUsers)
                       
                    </td>
                </tr>
            }
        </table>
    </div>
</div>